body{
    background-color: #d4e5ee;
}
div{
    background-color: white;
    width: 350px;
    height: 250px;
    border-radius: 7px;
    /* border-width: 1px;
    border-color: red;
    border-style: solid; */   
}
input {
    width: 250px;
    padding: 10px 15px;
    margin-bottom: 10px;
}
#login-button{
    background-color: #0866ff;
    border: none;
    padding: 15px 15px;
    width: 280px;
    border-radius: 5px;
    font-weight: bolder;
    color: white;
}
#create-button{
    background-color: rgb(67, 183, 40);
    padding: 15px 15px;
    width: 180px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bolder;
}